<template>
  <div class="main-content">
    <ContactForm/>
  </div>
</template>

<script>
export default {
  layout: 'Pages',
  components: {
    ContactForm: () => import('@/components/ContactForm')
  }
}
</script>
