<template>
  <div class="main-content">
    <solution/>
  </div>
</template>

<script>
export default {
  layout: 'LandingPage8',
  components: {
    'solution': () => import('@/components/solution')
  }
}
</script>
