<template>
  <section class="pt-0">
    <div class="container">
      <div class="row align-items-center ">
        <div class="col-sm-6">
          <h2 class="text-left mb-4">
            Опишите свою проблему
          </h2>
          <div class="response-output"/>
          <form method="post">
            <div class="contact-form">
              <div>
                <input
                  v-model="form.name"
                  type="text"
                  name="your-name"
                  class="form-control text"
                  placeholder="Введите Ваше имя"
                >
              </div>
              <div>
                <textarea
                  v-model="form.message"
                  name="your-message"
                  cols="40"
                  rows="10"
                  class="form-control textarea"
                  placeholder="Опишите пробелму"
                />
              </div>
              <div>
                <b-form-file id="file-large" v-model="form.image" accept="image/jpeg, image/png, image/gif, image/webp, image/jpg" placeholder="Прикрепите фотографию" size="lg"/>
              </div>
              <div v-if="form.image !== null">
                <b-img :src="url" class="mb-2" rounded height="500px" alt="Fluid image"/>
              </div>
              <div>
                <b-alert v-model="showAlert" dismissible variant="danger">
                  Заполните всю форму
                </b-alert>
              </div>
              <div>
                <button
                  id="submit-4"
                  name="submit"
                  type="submit"
                  class="button rounded d-block w-100"
                  @click.prevent="test"
                >
                  Отправить
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-6 offset-lg-1 col-lg-5 offset-md-1 col-md-5">
          <div class="wrapper">
            <div class="contact-box d-flex">
              <i aria-hidden="true" class="ion ion-android-call"/>
              <div class="service-detail">
                <h4 class="mb-2">
                  Свяжитесь со мной
                </h4>
                <ul class="list-inline mb-0">
                  <li><a href="tel:+0123456789"> +998(90) 900 80 70</a></li>
                </ul>
              </div>
            </div>
            <div class="contact-box d-flex">
              <i aria-hidden="true" class="fas fa-envelope"/>
              <div class="service-detail">
                <h4 class="mb-2">
                  Почтовый ящик
                </h4>
                <ul class="list-inline mb-0">
                  <li><a href="mailto:support@iqnonicthemes.com"> support@iqnonicthemes.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'ContactForm',
  data: () => ({
    showAlert: false,
    form: {
      name: '',
      message: '',
      computerName: '',
      image: null
    }
  }),
  computed: {
    url () {
      if (this.form.image === null) {
        return ''
      }
      return URL.createObjectURL(this.form.image)
    },
  },
  methods: {
    test () {
      if (this.form.name === '' || this.form.message === '' || this.form.image === null) {
        this.showAlert = true
        return
      }
      const reader = new FileReader()

      // on image converted
      reader.onloadend = () => {
        const formData = {
          name: this.form.name,
          message: this.form.message,
          computerName: '',
          image: reader.result
        }
        this.$axios.$post('/api/CRM/SendToAdmin', formData)
        this.showAlert = false
      }
      // start convert
      reader.readAsDataURL(this.form.image)
    }
  }
}
</script>
