<template>
  <div v-if="$route.name === 'contact-us'" style="position:fixed; bottom: 25px; right: 25px;">
    <b-button id="neonShadow" variant="primary" @click="$router.push('/')">На главную</b-button>
  </div>
  <div v-else-if="$route.name !== 'contact-us'" style="position:fixed; bottom: 25px; right: 25px;">
    <b-button id="neonShadow" variant="primary" @click="$router.push('/contact-us')">Отправить заявку</b-button>
  </div>
</template>
