<template>
  <section class="pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="custom-tab-userbehavior text-left mt-md-5">
            <ul id="pills-tab" class="nav nav-pills mb-5" role="tablist">
              <li v-for="({id, title},index) in tabs" :key="index" class="nav-item">
                <span class="line"/>
                <a
                  class="nav-link p-0"
                  :class="{'active': index === 0}"
                  data-toggle="pill"
                  :href="'#' + id"
                  role="tab"
                  aria-selected="true"
                  @click="currentTab = index"
                >
                  <h6 class="tab-title">{{ title }}</h6>
                  <span class="dot" style="margin-top: 62px !important;"/>
                </a>
              </li>
            </ul>
            <div class="tab-content">

              <div
                v-for="({id, title, subtitle, list, image}, index) in items"
                :key="id"
                :id="id"
                class="tab-pane fade "
                :class="{'active show': index === 0}"
              >
                <div class="row" :class="{'flex-row-reverse': currentTab % 2}">
                  <div class="col-md-6">
                    <div class="title-box wow fadeInUp text-left">
                      <span class="title-design">{{ currentTab + 1 }}</span>
                      <h2>{{ title }}</h2>
                      <p>{{ subtitle }}</p>
                    </div>
                    <div class="text-left">
                      <ul class="iq-list">
                        <li v-for="(name) in list" :key="name"><i class="fa fa-check"/><span>{{ name }}</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 mt-5 mt-md-0">
                    <img
                      :src="image"
                      class="attachment-full"
                      alt="image"
                    >
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { ComponentsConfig } from '@/data/state'

export default {
  name: 'Usage',
  data () {
    return {
      tabs: [],
      items: [],
      currentTab: 0,
    }
  },
  methods: {
    findCurrentItemById () {
      const store = new ComponentsConfig().SolutionItems
      const id = this.$route.query?.id
      if (!id) {
        this.$router.go(-1)
      }
      const { tabs, items } = store.find(i => i.id === id)
      this.tabs = tabs
      this.items = items
    }
  },
  created () {
    this.findCurrentItemById()
  }
}
</script>
