<template>
  <div>
    <contact-btn />
    <nuxt />
  </div>
</template>
<script>
export default {
  name: 'Default',
  components: {
    'contact-btn': () => import('~/components/ContactBtn')
  }
}
</script>
<style>
@import url('../assets/css/style.css');
@import url('../assets/css/responsive.css');
</style>
