<template>
  <div className="main-content">
    <section class="overview-block-ptb">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Это цикл табов -->
            <div id="features" class="iq-amazing-tab iq-minimal-tab wow fadeInUp" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-12">
                  <ul id="myTab" class="nav  justify-content-center" role="tablist">
                    <li v-for="({id, title}, index) in tabs">
                      <a
                        :id="`${id}-tab`"
                        class="nav-link show "
                        :class="{'active': index === 0}"
                        data-toggle="tab"
                        :href="`#${id}`"
                        role="tab"
                        v-text="title"
                      />
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab-content">
                <!-- Тут циклятся карточки  -->
                <div
                  v-for="({id, list}, index) in items"
                  :key="id"
                  :id="id"
                  class="tab-pane"
                  :class="{'active show': index === 0}"
                >
                  <div
                    v-for="({image, title, subtitle, solutionId}) in list"
                    :key="title"
                    class="row"
                  >
                    <div class="col-lg-4 col-md-6 text-left align-self-center">
                      <div class="iq-masonry-item item " :class="id">
                        <div class="iq-portfolio">
                          <nuxt-link :to="{path: '/solution', query: {id: solutionId}}" class="iq-portfolio-img">
                            <img
                              :src="image"
                              class="cart-image attachment-post-thumbnail size-post-thumbnail wp-post-image"
                              alt="image"
                            >
                            <div class="iq-portfolio-content text-center">
                              <div class="details-box clearfix">
                                <div class="consult-details">
                                  <h5 class="text-hover">{{ title }}</h5>
                                  <p class="mb-0">
                                    {{ subtitle }}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </nuxt-link>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { ComponentsConfig } from '@/data/state'

export default {
  layout: 'LandingPage8',
  data: () => ({
    tabs: new ComponentsConfig().tabs,
    items: new ComponentsConfig().items
  })
}
</script>

<style lang="css" scoped>
.cart-image {
  height: 300px !important;
  width: 100% !important;
  object-fit: cover !important;
  object-position: center;
}
</style>
